
$body-bg: #fafbfc;
$white: #ffffff;
$black: #000000;
$gray: #fafafa;
$gray-font-color: #787878;
$font-gold: #ffd45f;
$jet-black: #37363c;
$font-main: #646464;
$font-aux: #a0a0a0;
$font-red: #ff786e;
$font-white: #ffffff;
$font-gray: #dcdcdc;
$font-blue: #8fbbf5;
$border-blud: #51a7ff;
$success-block: #ffa746;